.input {
    width: 200px;
    margin-top: 10px;
    height: 20px;
    border-radius: 4px;
    border: 1px solid #f30694;
    outline-color: #c407a7;
    margin-top: 10px;
    margin-bottom: 10px;
    }
    
    .label {
        color: #fff;
        display: flex;
        flex-direction: column;
        width: 200px;
        margin: 0 auto;
        
    }