.header {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    height: 100px;
    background-color: #000000d1;
    background-size:cover;
    background-repeat: no-repeat;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    
}