.title {
    color: #fff;
    font-size: 50px;
    animation: 2s 1 alternate opacity;
}
.subTitle {
color: #fff;
animation: 3s 1 alternate opacity;
font-size: 25px;
}


@keyframes opacity {
    from {
        color: transparent;
    }

    to {
        color: #fff;
    }
}